<div class="page-wrapper">

  <%= image_tag("steven-universe-cast.png") %>

  <p>This is a blog about the wonderful show called <em>Steven Universe</em>.</p>

  <p><em>Steven Universe</em> is a show created by the amazing and talented Rebecca Sugar. It is about a boy named Steven Universe and his three moms: Garnet, Pearl, and Amethyst. Together they are called the Crystal Gems.</p>

  <p>Gems are intergalactic beings (or aliens if you want to sound less cool) who are the physical manifestations of gemstones. Gems are a race entirely composed of women, and their bodies are made from light. Steven is half-human and is the only male gem to have ever existed.</p>

  <p>Gems have magical abilities. They each have a gemstone on their bodies from which they can summon their weapons or shapeshift. They may even fuse, which involves a dance to make them in sync and shifting their bodies into light so that their bodies merge.</p>

  <p>Steven's mother, Rose Quartz, was the leader of the Crystal gems. She led the Crystal Gems to fight off their home planet who were attempting to invade Earth.</p>

  <p>Thousands of years after the invasion attempt, Rose Quartz met Steven's father Greg Universe. Rose Quartz decided to give up her physical form in order to give life, and thus Steven was born. Much of the show's themes stem from Rose Quartz's death, with Steven and the Crystal Gems dealing with Rose Quartz's decision and learning about the many things that she never told them before she died.</p>

  <p>In addition to the amazing storytelling are amazing songs written by Rebecca Sugar, as well as LGBTQ themes. It is one of the very few shows that has queer characters in the spotlight.</p>

  <p>If you love <em>Steven Universe</em> please join my blog! If you don't, please watch <em>Steven Universe</em> before it ends in 2018 😩</p>

</div>
